import json

from flask import Blueprint 
from flask import jsonify
from flask import abort
from flask import make_response
from flask import request

{{ paths_list[0]['tag'] }}_api = Blueprint('{{ paths_list[0]['tag'] }}', __name__)

{% for path in paths_list %}

@{{ paths_list[0]['tag'] }}_api.route('{{path['url']}}', methods=['{{path['method']}}'])
def {{path['properties'].operationId}}({% if path['properties'].parameters is not none %}{% for param in path['properties'].parameters %}{{param.name}}{% if not loop.last %}, {% endif %}{% endfor %}{% endif %}):

    {% if path['method'] == 'post'%}
    if not request.json:
        abort(400)
    {% endif %}
    return '{{ path['url'] }} {{ path['method'].upper() }}'

{% endfor %}