from flask import Flask
{% for tag in tags %}
from server.controllers.{{tag}}_controller import {{tag}}_api
{% endfor %}
import server.encoder


def main():
    app = Flask(__name__)
    app.json_encoder = encoder.JSONEncoder
    # app.json_decoder
    {% for tag in tags %}
    app.register_blueprint({{tag}}_api)
    {% endfor %}
    app.run(port=8080, debug=True)


if __name__ == '__main__':
    main()
