{# controller function template #}
{% for api_call in api_calls %}
@{{tag}}.route('{{api_call.path}}', methods['{{api_call.method}}'])
def {{api_call.name}} ({% for argument in api_call.arguments %}{{argument}}{% if not loop.last %}, {% endif %}{% endfor %}):
	return jsonify({{api_call.json_object}})