{# dependencies #}
{% for file_name, class_name in dependencies.items() %}
import {{ "{" }} {{ class_name | capitalize}} {{ "}" }} from './{{file_name}}';
{% endfor %}

export interface {{name}} {{ "{" }}
    {% for property_name, property_type in properties.items() %}
    {{property_name}}{% if required is not none%}{%if property_name not in required %}?{% endif %}{% endif %}: {{property_type}};
    {% endfor %}

{{ "}" }}
